---
tagline: International Development Masters student at the University of Bristol.
description: Welcome to my homepage, blog & portfolio.

headerfont: Roboto Slab
textfont: Roboto
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ tagline }} {{ description }}">
  <link rel="icon" href="{{ " /assets/favicon.ico " | url }}" type="image/x-icon" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ headerfont | replace: ' ', '+' }}|{{ textfont | replace: ' ', '+' }}&display=swap">
  <link rel="stylesheet" href="{{ " /assets/css/custom.css " }}">
  <link rel="stylesheet" href="{{ " /assets/css/normalize.css " }}">
  <link rel="stylesheet" href="{{ " /assets/css/skeleton.css " }}">

  <title>Marnie Woodmeade - {{title}}</title>

  <style>
     h1, h2, h3, h4, h5, h6 { font-family: {{ headerfont }} }
     p { font-family: {{ textfont }} }
   </style>

</head>
<body>
  <div class="sticky">
    <header>
      <h1>Marnie Woodmeade</h1>
      <h5>{{ tagline }}</h5>
    </header>

    <nav>
      {% for link in collections.navbar_links %}
      <a href="{{ link.url | url }}" {% if page.url contains link.url and link.url !='/' or page.url=='/' and link.url=='/' %} class="active" {% endif %}>
        <h5>  {{ link.data.title | strip }} </h5>
      </a>
      {% endfor %}
    </nav>
  </div>

  <main class=container>
    {{ content }}
  </main>

</body>

</html>
