---
tagline:      International Development Masters student at the University of Bristol.
description:  My homepage, blog & portfolio.
headerfont:   Anton
textfont:     Poppins
---

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={{tagline}}{{description}}>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ headerfont | replace: ' ', '+' }}|{{ textfont | replace: ' ', '+' }}&display=swap">
  <link rel="stylesheet" href="{{ "/assets/style.css " | url }}">
  <link rel="icon" href="{{ "/assets/favicon.ico " | url }}" type="image/x-icon" />

  <title>Marnie Woodmeade - {{title}}</title>

  <style>
    h1, h2, h3, h4, h5, h6 {
    font-family: {{ headerfont }}
    }
    p {
    font-family: {{ textfont }}
    }
  </style>

</head>

<body>
  <h1>Marnie Woodmeade</h1>
  <img src="/assets/profilepic.jpg" alt="Profile Pic" />
  <p>{{ tagline }}</p>
  <h2><a href="{{ "/" | url }}">Home</a></h2>
  <h2><a href="{{ "/articles" | url }}">Blog</a></h2>
  <h2><a href="{{ "/blog" | url }}">Blog</a></h2>
  <h2><a href="{{ "/contact" | url }}">Contact</a></h2>


  <h2>{{ title }}</h2>

  {{ content }}

</body>

</html>
