---
tagline: International Development Masters student at the University of Bristol.
description: Welcome to my homepage, blog & portfolio.

headerfont: Libre Franklin
textfont: Libre Franklin
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ description || tagline }}">
  <link rel="icon" href="{{ " /assets/favicon.ico " | url }}" type="image/x-icon" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ headerfont | replace: ' ', '+' }}|{{ textfont | replace: ' ', '+' }}&display=swap">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">

  <title>Marnie Woodmeade - {{title}}</title>

  <style>
     h1, h2, h3, h4, h5, h6 { font-family: {{ headerfont }}; font-weight: 600; text-align: center; }
     p { font-family: {{ textfont }} }
   </style>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156965138-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156965138-1');
</script>

</head>
<body>
  
  <h2 class="title">Marnie Woodmeade</h2>
  <h5 class="tagline">{{ tagline }}</h5>

  <nav>
    {% for link in collections.navbar_links %}
    <a href="{{ link.url | url }}" {% if page.url contains link.url and link.url !='/' or page.url=='/' and link.url=='/' %} class="active" {% endif %}>
      <h5>  {{ link.data.title | strip }} </h5>
    </a>
    {% endfor %}
  </nav>

  <main {% if no-margin %} class="no-margin" {% else %} class="container" {% endif %}>
    {{ content }}
  </main>

</body>

</html>
